<div class="proCatlog">
    <div class="header">
      <h2 class="h2">PRODUCTS</h2>
    </div>
    <div id="btnContainer">
            <button class="btn" (click)="changeView()"><i class="fa fa-bars"></i> ListView/GridView</button> 
    </div>

    <div class="row">
            <div *ngFor ="let product of mockProducts" (click)="route(product.id)" class="column" style="background-color:#eee;">
              <h2>Name : {{product.name}}</h2>
              <h3>SKU : {{product.sku}}</h3>
              <h3>Category : {{product.category}}</h3>
              <h3>Description : {{product.description}}</h3>
            </div>
    </div>
</div>

<app-pagination
  [count]="countVar"
  [page]="pageVar"
  [perPage]="perPageVar"
  [pagesToShow]="5"
  [loading]="loadingVar"
  (goPrev)="prevPage()"
  (goNext)="nextPage($event)"
  (onPage)="goToPage($event)">
</app-pagination>